header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    background: #eee;
    height: 100px;
}

header img {
    width: 120px;
}

section h2 {
    margin: 10px;
    text-align: center;
}

div.eventsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}