<div class="container">
    <button (click)="this.selectEvent()">Voltar</button>

    <div>
        <h2>{{event.title}}</h2>

        <p>Data: {{formatTimestamp(event.date)}}</p>

        <p>Endereço: {{event.address}}</p>

        <p *ngIf="event.price !== 0">Preço: R$ {{event.price}}</p>

        <!-- <span>Informações</span> -->
        <textarea [value]="getDescriptionWithoutLinks()" disabled [style]="countDescriptionLines()"></textarea>

        <div>
            <p *ngFor="let link of linksValues">
                <span>{{getTextLinkPart(link)}}</span>
                <a [href]="getUrlLinkPart(link)" target="_blank">Clique aqui</a>
            </p>
        </div>
        

        <img [src]="event.imgUrl"/>

        
    </div>
</div>
